version: 1.0.{build}
image:
- Visual Studio 2017
- ubuntu2004
- ubuntu1804
platform:
  - x64
configuration:
  - Release
  # - Debug
install:
    - cmd: set QTDIR=C:\Qt\5.11\msvc2017_64
    - cmd: set BOOST_ROOT=C:\Libraries\boost_1_67_0
    - cmd: set PATH=%PATH%;%QTDIR%\bin
    - sh: sudo apt-get update
    - sh: sudo apt install -y build-essential curl cmake libboost-all-dev libssl-dev libsodium-dev qt5-default qttools5-dev qttools5-dev-tools lcov git mercurial
before_build:
    - git clone https://github.com/vigcoin/coin.git cryptonote
    - cd cryptonote
    - git checkout -qf 7d373e68e4915dc8f4d1ae6f0fbe8bc9a6ac8225
    - cd ..
    - mkdir build
    - cd build
    - cmd: cmake -G "Visual Studio 15 2017 Win64" ..
    - cmd: dir
    - sh: cmake ..
    - sh: ls
for:
  -
    matrix:
      only:
        - image: Visual Studio 2017
    build:
      project: $(APPVEYOR_BUILD_FOLDER)\build\vigcoin.sln
  -
    matrix:
      only:
        - image: ubuntu2004
    build_script:
      - sh: make
